<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataStorage-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EF312B41F28F8F9002C24AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF312CB1F28F8F9002C24AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF312D61F28F8F9002C24AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
