<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PhoneArray</key>
	<array>
		<string>IPhone 4s</string>
		<string>IPhone 5s</string>
		<string>IPhone 6s</string>
		<string>IPhone 7</string>
	</array>
	<key>Model</key>
	<string>IPhone 6s</string>
</dict>
</plist>
